<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="base_height" value="0.15"/>
    <xacro:property name="pillar_x" value="0"/>
    <xacro:property name="pillar_y" value="0.10"/>

    <link name="pillar">
        <visual>
            <geometry>
                <cylinder length="1.00" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="1.00" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
        </inertial>
    </link>

    <joint name="base_pillar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="pillar"/>
        <origin xyz="${pillar_x} ${pillar_y} ${base_height}" rpy="0 0 0"/>
    </joint>

    <xacro:include filename="$(find pr2_description)/urdf/sensors/kinect2.urdf.xacro"/>
    <xacro:kinect2_v0 name="kinect" parent="pillar">
        <origin xyz="0.06 0.05 1.00" rpy="0 0 0"/>
    </xacro:kinect2_v0>
</robot>
