<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <param name="/use_sim_time" value="true" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tinker_simulate)/worlds/tinker.world"/> 
    </include>

    <include file="$(find tinker_description)/launch/tinker_description.launch"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-param robot_description -urdf -model tinker"/>

    <!-- load the controllers -->
    <rosparam file="$(find tinker_simulate)/config/controller.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" 
          type="spawner" respawn="false" output="screen" ns="/tinker" 
          args="joint_state_controller
                virtual_x_joint_position_controller
                virtual_y_joint_position_controller
                virtual_yaw_joint_position_controller
                arm_base_joint_position_controller
                shoulder_flexion_joint_position_controller
                elbow_joint_position_controller
                wrist_extension_position_controller" />
</launch>
